.navbar {
  height: 55px;
  padding: 20px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left .menu-icon{
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo{
  width: 90px;
  margin-right: 25px;
}


.nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-middle input {

  width: 60%;
  height: 40px;
  border: 1px solid rgb(230, 230, 230);
  outline: none;
  background-color: transparent;
  border-radius: 4px;
  padding-left: 10px;
}

.nav-middle  .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(224, 223, 223);
  height: 40px;
  width: 60px;
  margin: -10px;
  margin-right: 10px;
  
}

.nav-middle  .mic-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  
}

.nav-middle  img {
  width: 25px;
}


.nav-right {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 24px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

@media (max-width: 500px) {
  input {
    display: none;
  }
  .nav-middle  .search-icon {
    border: none;
    background-color: transparent;
  }

  

}